.aboutUsContainer {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 6.4rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.image {
  height: 54rem;
}

.textBox h1 {
  font-size: 4.4rem;
  margin-bottom: 2.4rem;
}

.textBox p {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  line-height: 1.5;
}

.accomplishment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.accomplishment .icon {
  font-size: 6.2rem;
  color: red;
}

.accomplishment div h3 {
  font-weight: 700;
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
}

.aboutUsContainer div p {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  line-height: 1.5;
}

.aboutUsContainer div button {
  border: 2px solid red;
  color: red;
  background: none;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  transition: all 0.4s;
}

.aboutUsContainer div button:hover {
  background-color: red;
  color: #fff;
}

/* 935px => 935/16 = 59em */
@media (max-width: 59em) {
  .aboutUsContainer {
    width: 80%;
    gap: 4.8rem;
  }
}
