.benefitsContainer {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.benefitsContainer h3 {
  color: #f3774d;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
}

.benefitsContainer h1 {
  color: black;
  font-size: 4.4rem;
  margin-bottom: 5.2rem;
}

.benefitsGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 2.4rem;
  row-gap: 3.6rem;
}

.benefitIcon {
  font-size: 5.2rem;
  color: #f3774d;
}

.benefitsGrid {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  gap: 1.6rem;
  /* width: 50%; */
}

.benefitText {
  text-align: start;
}

.benefitText p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.benefitText h3 {
  font-size: 2.4rem;
  color: black;
}

/* 616px => 616/16 = 39 */
@media (max-width: 39em) {
  .benefitsContainer {
    width: 90%;
  }
}
