.bmiCalculatorContainer {
  background-color: black;
  position: relative;
  margin-bottom: 8rem;
  /* height: 50rem; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bmiBox {
  display: flex;
  gap: 3.2rem;
  height: 50rem;
}

.bmiTextBox {
  padding: 4.8rem;
  background-image: linear-gradient(
    to left bottom,
    rgba(0, 0, 0, 0.1),
    rgba(114, 114, 114, 0.5)
  );
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.bmiBox h3 {
  color: red;
  margin-bottom: 1.6rem;
  width: 50%;
  font-size: 1.8rem;
}

.bmiBox h1 {
  font-size: 4.4rem;
  width: 50%;
  margin-bottom: 1.6rem;
  color: #fff;
  margin-bottom: 2.4rem;
}

.bmiBox p {
  font-size: 1.8rem;
  width: 50%;
  line-height: 1.5;
  color: #fff;
}

.calculateBmiBox {
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calculateBmiBox h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2.4rem;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.inputs input {
  padding: 1.2rem;
  font-family: inherit;
  background-color: #aaa;
  color: #fff;
  font-size: 1.8rem;
  border: none;
}

.inputs input::placeholder {
  color: #fff;
}

.inputs select {
  padding: 1.2rem;
  font-family: inherit;
  background-color: #aaa;
  font-size: 1.8rem;
  color: #fff;
}

.inputs button {
  grid-column: 1 / -1;
  padding: 1.6rem;
  font-family: inherit;
  background-color: #aaa;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.8rem;
  color: #fff;
  background-color: red;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.inputs button:hover {
  background-color: black;
}

/* 935px => 935/16 = 59em */
@media (max-width: 59em) {
  .bmiCalculatorContainer {
    width: 100%;
  }

  .calculateBmiBox {
    padding: 9.6rem;
  }
}

/* 700px => 700/16 = 44em */
@media (max-width: 44em) {
  .bmiTextBox {
    align-items: center;
  }

  .calculateBmiBox {
    /* padding: 16rem; */
  }

  .inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 542px => 542/16 = 34 */
@media (max-width: 34em) {
  .bmiCalculatorContainer {
    height: auto;
    width: 100%;
  }
  .bmiBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
