.callToActionContainer {
  /* background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../public/1.png"); */
  background-color: black;
  text-align: center;
  color: #fff;
  padding: 8rem;
  margin-bottom: 6.4rem;
}

.callToActionContainer h1 {
  font-size: 4.4rem;
  font-weight: bolder;
  margin-bottom: 1.4rem;
}

.callToActionContainer p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

.callToActionContainer input {
  padding: 1.2rem;
  font-family: inherit;
  border: transparent;
  border-radius: 2px;
  font-size: 1.8rem;
}

.callToActionContainer button {
  background-color: red;
  color: #fff;
  padding: 1.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: none;
  font-size: 1.8rem;
  display: inline-block;
  cursor: pointer;
}
