.coursesBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  width: 60%;
  margin: 0 auto;
  /* transform: translateY(15%); */
  /* margin-bottom: 8rem; */
  /* align-content: center; */
  justify-content: center;
  height: 100vh;
  margin-bottom: 16rem;
}

.courseContent:nth-child(1) {
  background-color: #f3774d;
}

.courseContent:nth-child(2) {
  background-color: #57534e;
}

.courseContent {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courseContent h1 {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  margin-bottom: 1.6rem;
  text-align: end;
}

.courseContent p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  text-align: end;
  line-height: 1.5;
}

.courseContent button {
  border: 3px solid #fff;
  color: #fff;
  background: none;
  font-size: 2rem;
  padding: 1.8rem 3rem;
  cursor: pointer;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

  display: flex;
  margin-left: auto;
}

.courseContent button:hover {
  background-color: #fff;
  color: #666;
}

.courseContent:nth-child(2) h1 {
  text-align: start;
}

.courseContent:nth-child(2) p {
  text-align: start;
}

.courseContent:nth-child(1) button,
.courseContent:nth-child(2) button {
  /* margin-left: 0%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */
/* 935px => 935/16 = 58.44em */
@media (max-width: 58.44em) {
  .coursesBox {
    width: 90%;
  }
}
