.expertsContainer {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.expertsContainer strong {
  display: block;
  color: red;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.expertsContainer h1 {
  font-size: 4.4rem;
  letter-spacing: -0.05rem;
  margin-bottom: 2.4rem;
}

.expertsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  transition: all 0.4s;
}

.imageBox {
  position: relative; /* Ensures the pseudo-element is positioned relative to this */
}

.image {
  width: 100%;
  border-bottom: 7rem solid black;
}

.imageBox::before {
  content: "Trainer Name";
  display: block;
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  /* background-color: red; */
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-70%);
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
}

.imageBox::after {
  content: "Trainer";
  display: block;
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-30%);
  font-size: 1.2rem;
}
