.expertsContainer {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.expertsContainer strong {
  display: block;
  color: red;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.expertsContainer h1 {
  font-size: 4.4rem;
  letter-spacing: -0.05rem;
  margin-bottom: 2.4rem;
}

.expertsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  transition: all 0.4s;
}

.imageAndTextBox {
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}

.imageAndTextBox:hover {
  transform: scale(1.05);
}

.imageAndTextBox div {
  background-color: black;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2.4rem;
}

.imageAndTextBox div h3 {
  color: red;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

.imageAndTextBox div p {
  color: white;
  font-size: 1.6rem;
}

.image {
  width: 100%;
  height: 40rem;
  display: block;
}

.textContainer {
  background-color: black;
  color: #fff;
}

/* 1200px => 1200/16 = 75em */
@media (max-width: 75em) {
  .expertsGrid {
    gap: 1.6rem;
  }
}

/* 1475px => 1475/16 = 119em */
@media (max-width: 60em) {
  .expertsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    transition: all 0.4s;
  }
}
