.footerContainer {
  background-color: black;
  padding: 3.2rem;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12.8rem;
  padding: 9.6rem;
}

.footerGrid div h1 {
  color: red;
  margin-bottom: 1.6rem;
}

.addressBox,
.linkBox {
  color: #fff;
  display: flex;
  gap: 0.8rem;
  font-size: 1.8rem;
}

.addressBox:not(:last-child) {
  margin-bottom: 1.2rem;
}

.addressBox a {
  cursor: pointer;
}

.addressBox span {
  line-height: 1.5;
}

.logos {
  color: #fff;
  font-size: 1.6rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-size: 1.8rem;
}

.timeContainer {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

.timeContainer strong {
  margin-bottom: 1rem;
}

.timeContainer:not(:last-child) {
  margin-bottom: 1.6rem;
}

.horizontalLine {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footerParagraph {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}

.lineAndPara {
  color: #fff;
}

/* 935px => 935/16 = 59em */
@media (max-width: 59em) {
  .footerGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 9.6rem;
  }
}

/* 700px => 700/16 = 44em */
@media (max-width: 44em) {
  .footerGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 542px => 542/16 = 33.875em */
@media (max-width: 34em) {
  .footerContainer {
  }
}
