.footerContainer {
  position: relative;
}

.image {
  width: 100%;
  height: 50rem;
  display: block;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12.8rem;
  margin-bottom: 2.4rem;
  padding: 3.2rem 6.4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.footerGrid div h1 {
  color: red;
  margin-bottom: 1.6rem;
}

.addressBox,
.linkBox {
  color: #fff;
  display: flex;
  gap: 0.4rem;
  font-size: 1.8rem;
}

.addressBox:not(:last-child),
.linkBox:not(:last-child) {
  margin-bottom: 1.2rem;
}

.logos {
  color: #fff;
  font-size: 1.6rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-size: 1.8rem;
}

.timeContainer {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

.timeContainer strong {
  margin-bottom: 0.4rem;
}

.timeContainer:not(:last-child) {
  margin-bottom: 1.2rem;
}

.horizontalLine {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2.4rem;
}

.footerParagraph {
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
}

.lineAndPara {
  position: absolute;
  top: 70%;
  color: #fff;
  display: block;
  width: 100%;
}
