.testimonialContainer {
  background-color: black;
  width: 80%;
  margin-left: auto;
  margin-bottom: 6.4rem;
}

.testimonialGrid {
  display: grid;
  grid-template-columns: 30fr 70fr;
  padding: 1.8rem;
}

.grid1 {
  transform: translateY(25%);
}

.photoAndTextBox {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
}

.image {
  height: 2.4rem;
  width: 2.4rem;
}

.textBox span {
  color: #fff;
  font-size: 1.6rem;
}

.grid2 {
  position: relative;
}

.textBox2 {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 0;
  padding: 1.6rem;
}

.textBox h3,
.textBox2 h3 {
  color: red;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}
.textBox2 span {
  color: #fff;
  margin-bottom: 1.2rem;
  display: block;
  font-size: 4.4rem;
  font-weight: bold;
}

.textBox p,
.textBox2 p {
  color: #fff;
  margin-bottom: 0.8rem;
  line-height: 1.5;
  font-size: 1.8rem;
}

.paragraph {
  color: #fff;
  background-color: #666;
  padding: 1.6rem;
  line-height: 1.5;
  border: 1px solid #fff;
  font-size: 1.8rem;
}

.sliderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.slider {
  margin-top: 0.8rem;
  background-color: #555;
  height: 0.2rem;
  width: 2rem;
  color: gray;
  border: none;
}

.active {
  background-color: #fff;
}

.image2 {
  width: 100%;
  height: 40rem;
}
