.timeTableContainer {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timeTableContainer h3 {
  font-size: 1.8rem;
  color: #f3774d;
  margin-bottom: 1.6rem;
}

.timeTableContainer h1 {
  font-size: 4.4rem;
  color: #000;
  margin-bottom: 3rem;
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  color: red;
  cursor: pointer;
  margin-bottom: 1.6rem;
}

.tabContainer span {
  padding: 0.8rem;
  font-size: 1.8rem;
}

.tabContainer span:hover {
  color: #f3774d;
}

.bgColor {
  background-color: #f3774d;
  color: #fff;
}

.scheduleContainer {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.8rem;
  width: 60%;
}

.days {
  background-color: #f3774d;
  color: #fff;
}

.days th {
  padding: 1.2rem;
}

.exercises th,
.exercises td {
  padding: 1.6rem;
  border: 1px solid #ccc;
}

.exerciseTime {
  color: #fff;
  background-color: #f3774d;
}

.exerciseTime span {
  display: block;
  padding: 0.8rem;
}

.exercises td strong {
  display: block;
  padding: 0.8rem;
}

.exercises td strong {
  font-weight: 500;
}

.exercises td span {
  font-weight: lighter;
}

/* 542px => 542/16 = 33.875em */
@media (max-width: 34em) {
  .scheduleContainer {
    /* width: 90%; */
  }

  .timeTableContainer {
    display: none;
  }
}
