/* .logo {
  text-decoration: none;
  font-size: 4.4rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  z-index: 1;
  color: #fff;
} */
.logo {
  width: 12rem;
  height: 12rem;
  color: #fff;
}
