.navbar {
  list-style: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  padding: 2.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.active {
  color: red;
}

.navbar li {
  font-size: 2rem;
  transition: all 0.2s;
}

.navbar li:hover {
  color: #fecdd3;
}
